.DiceGame {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column:  2/3;
  grid-row: 1/2;
  background-color:lightblue;
}
.Score {
  border: 1px solid black;
  margin: 0 auto;
  text-align: right;
  grid-column:  3/4;
  grid-row: 1/2;
  background-color:rgb(77, 110, 121);
  width: 200px;
}
